keras_vision.egg-info/*
dist/*
*.pyc
testing.py
build/*
.ipynb_checkpoints/*
*.weights.h5
*.pt
Untitled2.ipynb
Untitled1.ipynb
Untitled.ipynb
Untitled-Copy2.ipynb
Untitled-Copy1.ipynb
test_pytorch_layer.py
minimal_example.py
Keras3_MobileVIT_v1.ipynb
extras.py
settings.json
fastvit_ma36_reparam.pth.tar
fastvit_ma36.pth.tar
fastvit_s12_reparam.pth.tar
fastvit_s12.pth.tar
fastvit_sa12_reparam.pth.tar
fastvit_sa12.pth.tar
fastvit_sa24_reparam.pth.tar
fastvit_sa24.pth.tar
fastvit_sa36_reparam.pth.tar
fastvit_sa36.pth.tar
fastvit_t8_reparam.pth.tar
fastvit_t8.pth.tar
fastvit_t12_reparam.pth.tar
fastvit_t12.pth.tar
fastvit_ma36_kd.pth.tar
fastvit_ma36_reparam_kd.pth.tar
fastvit_s12_kd.pth.tar
fastvit_s12_reparam_kd.pth.tar
fastvit_sa12_kd.pth.tar
fastvit_sa12_reparam_kd.pth.tar
fastvit_sa24_kd.pth.tar
fastvit_sa24_reparam_kd.pth.tar
fastvit_sa36_kd.pth.tar
fastvit_sa36_reparam_kd.pth.tar
fastvit_t8_kd.pth.tar
fastvit_t8_reparam_kd.pth.tar
fastvit_t12_kd.pth.tar
fastvit_t12_reparam_kd.pth.tar
keras_vision/fastvit/.ipynb_checkpoints/porting_fastvit-checkpoint.ipynb
keras_vision/fastvit/.ipynb_checkpoints/porting_fastvit-timm-checkpoint.ipynb
keras_vision/fastvit/.ipynb_checkpoints/Untitled-checkpoint.ipynb
keras_vision/fastvit/.ipynb_checkpoints/Untitled-Copy1-checkpoint.ipynb
keras_vision/fastvit/temp_pytorch_mob_1_weight.pth
